*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #567ab3bf, #ad5a5a00);
  font-family: Arial;
}

h1 {
  width: fit-content;
  margin: 50px auto;
  font-size: 60px;
  font-style: italic;
  color: #34456f;
}

h2,
h3,
h4 {
  width: fit-content;
  margin-left: 100px;
  font-size: 30px;
  font-style: italic;
  color: #34456f;
}

img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

ul,
ol,
p {
  width: fit-content;
  margin-left: 100px;
  font-size: 25px;
}

li {
  font-size: 25px;
  font-style: italic;
  color: #34456f;
}
